.todo-list{
    width: max(30%, 300px);
    background-color: rgb(41, 113, 180);
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.AddForm{
    display: flex;
    border: 1px solid ghostwhite;
}

.textField{
    flex-grow: 1;
}

* {
    font-family: "Comic Sans MS";
}